.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}


/* esercizio */
/* tablet */
@media screen and (max-width:760px) {
    hr {
      display: none;
    }
  
    div>* {
      font-size: 1.2em;
    }

    h1{
      font-size: 2em;
    }
  /* lezioni */
  body #steps {
    display: inline-block;
  }

   #steps .row>.left {
     width: 100%;
   }

   #steps .row>.central,
   #steps .row>.right {
     width: 50%;
     margin-top: 20px;
   }


   /* why */

   body #why {
     display: inline-block;
   }

   #why .row {
     display: flex;
     align-items: center;
     margin-top: 0;
   }

   #why .row img {
     height: 120px;
     padding: 10px;
   }

   #why .row>.first,
  #why .row>.second,
  #why .row>.third {
    width: auto;
    margin-top: 0;
  }
}

/* mobile */
@media screen and (max-width:420px) {

  body {
    margin: 0;
  }


  hr {
    background-color: black;
    display: block;
  }

  div>* {
    font-size: 0.8em;
  }
  
  h1 {
    font-size: 2.5em;
  }

  h3 {
    margin-bottom: 0;
    font-size: 2em;
  }
  /* lezioni */
  

  #lezioni .row {
    margin-top: 0px;
    background-color: #F2F2CD;
    width: 100%;
  }
  
  #lezioni .row img {
    height: 100px;
    padding: 30px;
  }

  #lezioni .row > .left {
    display: block;
    width: 100%;
    background-color: #F2F2CD;
  }

  #lezioni .row > .right {
    display: block;
    width: 100%;
    background-color: #F2F2CD;
  }
  /* come funziona */

  body #steps {
    /* clear: both; */
    display: inline-block;
  }

  #steps>.row{
    width: 100%;
    margin-top: 0;
  }

  #steps .row img {
    height: 100px;

  }

  /* #steps>.row h1 {
    font-size: 3em;
  } */

  /* #steps>.row h3 {
    font-size: 2em;
  } */

  #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right {
    float: none;
    width: 100%;
    margin-bottom: 20px;
  }

    /* why */

  body #why{
    background-color: #F2F2CD;
    display: inline-block;
  }

  #why>.row {
    margin-top: 0;
    width: 100%;
    display: inline-block;
  }

  #why .row img {
    height: 60px;
    padding: 30px;
  }

  #why .row>.first,
  #why .row>.second,
  #why .row>.third {
    margin-top: 0;
  }

  /* #why h1 {
    font-size: 3em;
  } */
}

/* tablet */

